# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.idea
#golang的忽略文件
service/sso
service/go.sum
service/config/db.yaml
service/config/server.yaml

#web 忽略的文件
web/.umi
web/node_modules
web/dist